<div class="content">
	<h2></h2>
	<div class="cumulative-fires"></div>
	<div class="active-fires"></div>

	<div id="map-container">
		<button class="play-button--container"><div class="play-button"></div></button>
		<div class="map__heading">
			<span class="fire-date"></span>
		</div>
		<img class="map__geo" src="src/img/indonesia.png" >
	</div>

	<div class="section">
		<div class="section__heading">Land concessions</div>

		<div class="sumatra-zoom__map">
			<div class="map__heading">
				<span class="fire-date--sumatra"></span>
			</div>
			<button class="play-button--container"><div class="play-button"></div></button>
		</div>

		<div class="sumatra-zoom__copy">
			<p>Curabitur a nisi neque. Morbi mattis consequat orci, quis sagittis risus tincidunt id. Ut vitae enim sit amet lacus vehicula rutrum. Donec ultrices dolor ornare, maximus nulla sagittis, lobortis elit. Fusce ultricies metus vitae ipsum pellentesque accumsan vel in enim. Vivamus venenatis sed augue id interdum. Proin dapibus, dui vel venenatis ultrices, neque enim mollis erat, vel auctor magna arcu ut quam. Etiam interdum tempor hendrerit. Sed facilisis mauris eu lacinia efficitur. Ut vehicula posuere aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

			<div style="width: 260px; height: 180px; margin-top: 6px; float:right; background-color: rgba(196, 153, 70, 0.69); color: white; text-align: center; line-height: 180px; ">Land breakdown chart</div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat, velit in gravida finibus, ex nisi hendrerit mauris, eu feugiat dolor velit ac lectus. Vestibulum id ipsum libero. Sed sit amet gravida lectus. Maecenas bibendum felis nec tempor laoreet. Donec posuere sapien malesuada ante efficitur, vel elementum nulla congue. Pellentesque eu odio mi. Nam fermentum euismod libero a tristique. Proin gravida ligula eu mi cursus gravida. Suspendisse potenti. Vestibulum semper maximus turpis, sit amet hendrerit ante fermentum a. Ut ut ullamcorper nisi.</p>

		</div>


		<div class="jambi-zoom__map">
			<div class="map__heading">
				<span class="fire-date--jambi"></span>
			</div>
			<button class="play-button--container"><div class="play-button"></div></button>
		</div>

	</div>

	<div class="section">
		<div class="section__heading">Haze</div>
		<img class="haze__img1" src="src/img/gp1.jpg">

        <div class="co-emissions">
            <div class="co-emissions__inner">
                <video class="co-emissions__video">
                    <source src="src/video/airs.mp4" type="video/mp4" />
                </video>
                <canvas class="co-emissions__canvas"></canvas>
                <img src="src/img/emissions-mask.png" />
            </div>
        </div>

		<img class="haze__img2" src="src/img/gp2.jpg">
		<img class="haze__img3" src="src/img/gp3.jpg">
	</div>

	<div class="section">
		<div class="section__heading">Carbon emissions</div>
		<div class="co2e-graph"></div>
	</div>
</div>