<div class="idn-content-container">

<div class="idn-content idn-content--loading">
    <h2></h2>
    <div class="idn-cumulative-fires"></div>
    <div class="idn-active-fires"></div>

    <div class="idn-fires">
        <div class="idn-map__heading">
            <span class="idn-fires__date"></span>
        </div>

        <div>
            <div class="idn-fires__city idn-fires__city--palembang">Palembang</div>
            <div class="idn-fires__city idn-fires__city--jambi">Jambi</div>
            <div class="idn-fires__city idn-fires__city--singapore">Singapore</div>
            <div class="idn-fires__city idn-fires__city--banjarmasin">Banjarmasin</div>
            <div class="idn-fires__city idn-fires__city--pontianak">Pontianak</div>
            <div class="idn-fires__city idn-fires__city--kualalumpur">Kuala Lumpur</div>
            <div class="idn-fires__city idn-fires__city--pekanbaru">Pekanbaru</div>

            <div class="idn-fires__regionlabel idn-fires__regionlabel--sumatra">Sumatra</div>
            <div class="idn-fires__regionlabel idn-fires__regionlabel--malaysia">Malaysia</div>
            <div class="idn-fires__regionlabel idn-fires__regionlabel--kalimantan">Kalimantan</div>
        </div>

        <button class="idn-play-button--container" video=".idn-fires__video"><div class="idn-play-button"></div></button>

        <!-- <div>
            <svg class="gv-video-play" x="0px" y="0px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <circle fill="#ffbb00" cx="50" cy="50" r="50"></circle>
                <polygon fill="#333333" class="guPause" points="45.9,65.5 37.6,65.5 37.6,34.5 39.6,32.5 45.9,32.5 "></polygon>
                <polygon fill="#333333" class="guPause" points="62.4,63.5 60.4,65.5 54.1,65.5 54.1,32.5 62.4,32.5 "></polygon>
                <polygon fill="#333333" class="guPlay" points="72.2,49.3 38.1,35.2 36.9,36.1 36.9,63.9 38.1,64.8 72.2,50.7 "></polygon>
            </svg>
        </div> -->

        <div class="idn-section__heading">
            <h2>NASA satellites have detected more than 117,000 fires in Indonesia this year</h2>
            <p>An ongoing El Niño event exacerbated the normal dry season leaving forests and land highly flammable over the summer</p>
        </div>

        <div class="idn-fires__inner">
            <video class="idn-fires__video" poster="src/video/fires.png">
                <source src="src/video/fires.mp4" type="video/mp4" />
            </video>
            <!-- <canvas class="idn-fires__canvas"></canvas> -->
        </div>

        <div class="idn-fires__credits">Source: Daily active fires data taken from <a href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data" target="_blank">NASA MODIS</a></div>
    </div>

    <div class="idn-section">
        <div class="idn-section__heading">
            <h2>They frequently occurred on land sold for palm oil and pulpwood production</h2>
            <p>Many big concession-owning companies say they favour sustainable practices and blame smallholders for using slash-and-burn farming to clear the land quickly and cheaply</p>
        </div>

        <div class="idn-sumatra">

            <div class="idn-sumatra__map">
                <div class="idn-map__heading">
                    <span class="idn-sumatra__date"></span>
                </div>
                <div class="idn-sumatra__label idn-sumatra__label--concession">Concession area</div>
                <div class="idn-sumatra__label idn-sumatra__label--palembang">Palembang</div>

                <video class="idn-sumatra__video" poster="src/video/sumatra.png">
                    <source src="src/video/sumatra.mp4" type="video/mp4" />
                </video>
                <button class="idn-play-button--container" video=".idn-sumatra__video"><div class="idn-play-button"></div></button>
                <div class="idn-sumatra__credits">Source: Concession land data from <a href="http://www.wri.org/" target="_blank">WRI</a></div>
            </div>

            <div class="idn-sumatra__text">
                <p>So-called ‘slash and burn’ is the fastest and cheapest way of clearing land for commercial use. Satellite data shows that some of the highest concentrations of fires occurred on land earmarked as corporate concessions where fast-growing trees will be planted to produce pulpwood for paper products and palm oil, of which Indonesia is the world's largest producer.  </p>

                <p>In south-eastern Sumatra there were ---- [details] ----- on land belonging to the Sinar Mas conglomerate which operates in both the pulp and palm oil sectors. Sinar Mas is itself a subsidiary of GAR (Golden Agri-Resources) which, in 2014, was one of five major producers that signed the Indonesian Palm Oil Pledge (IPOP) committing themselves to sustainable practices and zero-deforestation. However, with up to 40% of oil palm sourced from smallholder farmers, corporate oversight of practices lower down the supply chain is fragmentary.</p>
            </div>

            <div class="idn-breakdown">
                <ul>
                    <li>Palm oil</li>
                    <li>Pulpwood</li>
                    <li>Logging</li>
                    <li>Moratorium</li>
                    <li>Other</li>
                </ul>
                <svg viewBox="0 0 101 390">
                    <g>
                        <rect x="51" y="281" fill="#DFDFDF" width="50" height="100"/>
                        <rect x="0" y="273" fill="#DFDFDF" width="50" height="114"/>
                        <rect x="51" y="170" fill="#DFDFDF" width="50" height="91"/>
                        <rect x="0" y="164" fill="#DFDFDF" width="50" height="101"/>
                        <rect x="51" y="126" fill="#EBC1CB" width="50" height="16"/>
                        <rect x="0" y="111" fill="#EBC1CB" width="50" height="46"/>
                        <rect x="51" y="46" fill="#C97D8A" width="50" height="57"/>
                        <rect x="0" y="65" fill="#C97D8A" width="50" height="18"/>
                        <rect x="51" fill="#964F5D" width="50" height="38"/>
                        <rect x="0" y="6" fill="#964F5D" width="50" height="25"/>
                    </g>
                </svg>
            </div>

        </div>
    </div>

    <div class="idn-section">
        <div class="idn-section__heading">
            <h2>As fires spread, a choking haze enveloped Indonesia and neighbouring countries</h2>
            <p>This grounded flights, closed schools and reduced visibility to less than 50 metres in some areas while also taking a terrible toll on public health</p>
        </div>
        <img class="idn-haze__img1" src="src/img/gp1.jpg">
        <!-- <img class="idn-haze__img2" src="src/img/gp2.jpg">
        <img class="idn-haze__img3" src="src/img/gp3.jpg"> -->
        <p>As the fires spread, a toxic, sepia-coloured smog enveloped not just Borneo and Kalimantan but neighbouring countries including Malaysia, Singapore, Thailand and the Philippines as well. In some areas the haze limited visibility to less than 50 metres.</p>
        <p>The haze contained several pollutants that are highly hazardous to health. Air quality data for ————— shows that on ———— the air in —— was full of ——. In terms of carbon monoxide alone ——</p>
        <p>More than 40 million people were exposed to the smog and more than 500,000 Indonesians sought medical assistance for respiratory illnesses.</p>
    </div>

    <div class="idn-section">
        <div class="idn-section__heading">
            <h2>The haze contained high levels of harmful pollutants, including carbon monoxide</h2>
            <p>Some 40 million people were exposed to the smog and more than 500,000 Indonesians sought medical assistance for respiratory illnesses</p>
        </div>
        <div class="idn-co-emissions">
            <div class="idn-co-emissions__inner">
                <div class="idn-map__heading">
                    <span class="idn-co-emissions__date"></span>
                </div>
                <video class="idn-co-emissions__video">
                    <source src="src/video/airs.mp4" type="video/mp4" />
                </video>
                <canvas class="idn-co-emissions__canvas"></canvas>
                <img src="src/img/emissions-mask.png" />
                <button class="idn-play-button--container" video=".idn-co-emissions__video"><div class="idn-play-button"></div></button>

                <div class="idn-co-emissions__credits">Source: Based on a 3 day moving average of data from <a href="ftp://acdisc.sci.gsfc.nasa.gov/ftp/data/s4pa/Aqua_AIRS_Level3/AIRX3STD.006/2015/" target="_blank">NASA AIRS</a></div>
            </div>
        </div>
    </div>

    <div class="idn-section idn-section--co2">
        <div class="idn-section__heading">
            <h2>The fires also emitted in a few months more CO2 than some countries produce in a year</h2>
            <p>This was because many smouldered for months on carbon-rich peat soil which poor land management had left arid and combustible</p>
        </div>
        <div class="idn-co2e-graph">
            <div class="idn-co2e-graph__credits">Source: Cumulative emissions are based on <a href="http://www.globalfiredata.org/updates.html" target="_blank">GFED</a> estimates and country emissions are from <a href="http://cait.wri.org/historical" target="_blank">CAIT</a>.</div>
        </div>
        <p>Many of the fires burned on dried-out carbon-rich peatland which meant Indonesia was responsible for massive carbon dioxide emissions at the height of the fires. Typically, according to figures from the World Resources Institute, Indonesia emits 2.1 megatons of carbon dioxide a day (the US emits almost 16 megatons, and China 29.3). Bloomberg calculated that Indonesia's average daily carbon dioxide emissions in October were 23 megatons (the US emits almost 16 megatons, and China 29.3). On 14 October, emissions from the fires alone soared to 61 megatons, almost 97% of the country’s total emissions. Total emissions from the fires also overtook the annual emissions of the German and Japanese economies.</p>
        <p>Indonesia's peatland areas are naturally fire-resistant but years of bad management practices have drained the peat leaving them vulnerable to ignition during dry spells. Once alight, dry peatland fires are particularly difficult to extinguish as they can smoulder underground for months and then resurface in a different place.</p>
    </div>
</div>

</div>