<div class="idn-content-container">

<div class="idn-content idn-content--loading">
    <h2></h2>
    <div class="idn-cumulative-fires"></div>
    <div class="idn-active-fires"></div>
    <div class="idn-section__heading">
        <h2>NASA satellites have detected more than 130,000 fire hotspots across Indonesia this year</h2>
        <p>A long dry season and weather patterns created by the El Nino phenomenon created highly flammable conditions for fires to spread over the summer</p>
    </div>

    <div class="idn-fires">

        <div class="idn-map__heading">
            <span class="idn-fires__date"></span>
        </div>

        <div>
            <div class="idn-fires__city idn-fires__city--palembang">Palembang</div>
            <div class="idn-fires__city idn-fires__city--jambi">Jambi</div>
            <div class="idn-fires__city idn-fires__city--singapore">Singapore</div>
            <div class="idn-fires__city idn-fires__city--banjarmasin">Banjarmasin</div>
            <div class="idn-fires__city idn-fires__city--pontianak">Pontianak</div>
            <div class="idn-fires__city idn-fires__city--kualalumpur">Kuala Lumpur</div>
            <div class="idn-fires__city idn-fires__city--pekanbaru">Pekanbaru</div>

            <div class="idn-fires__regionlabel idn-fires__regionlabel--sumatra">Sumatra</div>
            <div class="idn-fires__regionlabel idn-fires__regionlabel--malaysia">Malaysia</div>
            <div class="idn-fires__regionlabel idn-fires__regionlabel--indonesia">Indonesia</div>
            <div class="idn-fires__regionlabel idn-fires__regionlabel--kalimantan">Kalimantan</div>

            <div class="idn-sumatra__zoombox">
                <div class="idn-sumatra__zoombox__label">Enlarged below</div>
            </div>


        </div>

        <button class="idn-play-button--container">
            <div class="idn-play-button">
                <span class="idn-play-button__restart">Restart</span>
            </div>
        </button>

        <!-- <div>
            <svg class="gv-video-play" x="0px" y="0px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <circle fill="#ffbb00" cx="50" cy="50" r="50"></circle>
                <polygon fill="#333333" class="guPause" points="45.9,65.5 37.6,65.5 37.6,34.5 39.6,32.5 45.9,32.5 "></polygon>
                <polygon fill="#333333" class="guPause" points="62.4,63.5 60.4,65.5 54.1,65.5 54.1,32.5 62.4,32.5 "></polygon>
                <polygon fill="#333333" class="guPlay" points="72.2,49.3 38.1,35.2 36.9,36.1 36.9,63.9 38.1,64.8 72.2,50.7 "></polygon>
            </svg>
        </div> -->

        <div class="idn-fires__inner">
            <video class="idn-fires__video idn-video" poster="{{=it.config.assetPath}}/src/video/fires.png"></video>
            <canvas class="idn-fires__canvas idn-canvasvideo"></canvas>
        </div>
    </div>

    <div class="idn-fires__credits">Source: Daily active fires data taken from <a href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data" target="_blank">NASA MODIS</a></div>

    <div class="idn-section idn-section--breakdown">
        <div class="idn-section__heading">
            <h2>Forest fires in Indonesia occur every year</h2>
            <p>The country produces the most pulpwood, timber and palm oil in the world and vast tracts of land are set alight to clear the way for their production. Since 2011 the government has imposed a moratorium to protect 43m hectares of forest and peatlands but fires still occur on this land</p>
        </div>

        <div class="idn-breakdown3-container">
            <div class="idn-breakdown3">
                <h3>% of total land area</h3>
                <ul class="idn-breakdown3__type">
                    {{~it.breakdown :d:i}}
                    <li style="width: {{=d.max}}%">
                        <div style="width: {{=d.landWidth}}%; background: {{=d.color}}">{{=d.land.toFixed(1)}}%</div>
                        <div>{{=d.type}}</div>
                        <div style="width: {{=d.firesWidth}}%; background: {{=d.color}}">{{=d.fires.toFixed(1)}}%</div>
                    </li>
                    {{~}}
                </ul>
                <h3>% of fire hotspots detected on that land</h3>
            </div>

        </div>
    </div>

    <div class="idn-section">
        <div class="idn-section__heading">
            <h2>The fires are illegal</h2>
            <p>The Indonesian government has started to pressure big palm oil and pulpwood companies like Asia Pulp and Paper to eliminate the practice from their supply chains. Despite this, some of the densest concentrations of fires occur on corporate concession land</p>
        </div>

        <div class="idn-sumatra">

            <div class="idn-sumatra__map">
                <div class="idn-map__heading">
                    <span class="idn-sumatra__date"></span>
                </div>
                <div class="idn-sumatra__label idn-sumatra__label--concession">Concession areas</div>
                <div class="idn-sumatra__label idn-sumatra__label--sinar">Owned by Asia Pulp &amp; Paper</div>
                <div class="idn-sumatra__label idn-sumatra__label--palembang">Palembang</div>

                <video class="idn-sumatra__video idn-video" poster="{{=it.config.assetPath}}/src/video/sumatra.png"></video>

                <canvas class="idn-sumatra__canvas idn-canvasvideo"></canvas>

                <button class="idn-play-button--container" video=".idn-sumatra__video">
                    <div class="idn-play-button">
                        <span class="idn-play-button__restart">Restart</span>
                    </div>
                </button>
                <div class="idn-sumatra__credits">Source: Concession land data from <a href="http://www.wri.org/" target="_blank">WRI</a></div>
            </div>

            <div class="idn-sumatra__text">
            </div>
        </div>
    </div>




    <div class="idn-section">
        <div class="idn-section__heading">
            <h2>An acrid haze enveloped Indonesia and neighbouring countries as the fires spread</h2>
            <p>It grounded flights, closed schools and reduced visibility to 30 metres in some areas while also severely affecting public health</p>
        </div>
        <div class="idn-haze-pictures">
            <picture class="idn-haze-picture idn-haze-picture--1">
                <source srcset="https://media.guim.co.uk/54f63bfe6b0324598db921a4e81a18f850862c12/0_0_3000_1801/2000.jpg" media="(min-width: 1500px)">
                <source srcset="https://media.guim.co.uk/54f63bfe6b0324598db921a4e81a18f850862c12/0_0_3000_1801/1000.jpg" media="(min-width: 600px)">
                <source srcset="https://media.guim.co.uk/54f63bfe6b0324598db921a4e81a18f850862c12/0_0_3000_1801/500.jpg" media="(min-width: 300px)">
                <img src="https://media.guim.co.uk/54f63bfe6b0324598db921a4e81a18f850862c12/0_0_3000_1801/1000.jpg" alt="haze">
            </picture>
            <picture class="idn-haze-picture idn-haze-picture--3">
                <source srcset="https://media.guim.co.uk/db952c84ce35a7199ccefd2bb760dfb72fcc7e84/0_289_4608_2765/2000.jpg" media="(min-width: 1500px)">
                <source srcset="https://media.guim.co.uk/db952c84ce35a7199ccefd2bb760dfb72fcc7e84/0_289_4608_2765/1000.jpg" media="(min-width: 600px)">
                <source srcset="https://media.guim.co.uk/db952c84ce35a7199ccefd2bb760dfb72fcc7e84/0_289_4608_2765/500.jpg" media="(min-width: 300px)">
                <img src="https://media.guim.co.uk/db952c84ce35a7199ccefd2bb760dfb72fcc7e84/0_289_4608_2765/500.jpg" alt="haze">
            </picture>
            <picture class="idn-haze-picture idn-haze-picture--2">
                <source srcset="https://media.guim.co.uk/5b17185fed075e0681de802e256791902245919d/0_82_2500_1499/2000.jpg" media="(min-width: 1500px)">
                <source srcset="https://media.guim.co.uk/5b17185fed075e0681de802e256791902245919d/0_82_2500_1499/1000.jpg" media="(min-width: 600px)">
                <source srcset="https://media.guim.co.uk/5b17185fed075e0681de802e256791902245919d/0_82_2500_1499/500.jpg" media="(min-width: 300px)">
                <img src="https://media.guim.co.uk/5b17185fed075e0681de802e256791902245919d/0_82_2500_1499/500.jpg" alt="haze">
            </picture>
        </div>
    </div>

    <div class="idn-section">
        <div class="idn-section__heading">
            <h2>The haze contained high levels of pollutants such as carbon monoxide</h2>
            <p>At the height of the crisis, levels of six pollutants were recorded six times higher than a baseline measure normally considered hazardous on the Pollutants Standards Index. More than half a million people were treated for respiratory infections and at least 19 people died</p>
        </div>
        <div class="idn-co-emissions">
            <div class="idn-co-emissions__title">Carbon monoxide in mid-troposphere</div>
            <div class="idn-map__heading idn-map__heading--co-emissions-date"><span class="idn-co-emissions__date"></span></div>
            <div class="idn-co-emissions__inner">

                <video class="idn-co-emissions__video idn-video" poster="{{=it.config.assetPath}}/src/video/airs-fs8.png">
                    <source src="{{=it.config.assetPath}}/src/video/airs.mp4" type="video/mp4" />
                </video>

                <canvas class="idn-co-emissions__canvas idn-canvas"></canvas>

                <img src="{{=it.config.assetPath}}/src/img/emissions-mask-highres-fs8.png" />
                <button class="idn-play-button--container" video=".idn-co-emissions__video">
                    <div class="idn-play-button">
                        <span class="idn-play-button__restart">Restart</span>
                    </div>
                </button>

                <div class="idn-co-emissions__credits">Source: Based on a three day moving average of data from <a href="ftp://acdisc.sci.gsfc.nasa.gov/ftp/data/s4pa/Aqua_AIRS_Level3/AIRX3STD.006/2015/" target="_blank">NASA AIRS</a></div>
            </div>
        </div>
    </div>

    <div class="idn-section idn-section--co2">
        <div class="idn-section__heading">
            <h2>The carbon dioxide emitted by the fires now exceeds the annual emissions of many major countries, such as the UK and Japan</h2>
            <p>Environmentalists have accused the government of dodging their responsibilities ahead of crunch UN climate change talks in Paris.</p>
        </div>
        <h2 class="idn-co2e-graph__heading">Cumulative <a href="https://en.wikipedia.org/wiki/Carbon_dioxide_equivalent" target="_blank">CO2e</a> emissions from fires</h2>
        <div class="idn-co2e-graph">
            <div class="idn-co2e-graph__credits">Source: Cumulative emissions are based on <a href="http://www.globalfiredata.org/updates.html" target="_blank">GFED</a> estimates and country emissions are from <a href="http://cait.wri.org/historical" target="_blank">CAIT</a></div>
        </div>
    </div>
</div>

</div>