@import 'font';
@import 'mq';

.idn-content-container {
    max-width: 1300px;
    background: white;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.idn-content {
    max-width: 1260px;
    margin: auto;
    overflow: visible;
    position: relative;
    &:after {
        display: block;
        content: '';
        clear: both;
        height: 24px;
    }
}

.idn-map__country {
    fill: #efefef;
}

.idn-map__palm {
    fill: #C1B213;
}

.idn-map__fiber {
    fill: #4E4DBD;
}

.idn-map__logging {
    fill: #B5442B;
}

.idn-map__concessions {
    fill: #dcdcdc;
}

.idn-map__heading {
    text-align: right;
    font-family: "Guardian Egyptian Web";
    position: absolute;
    z-index: 2;
    right: 0;
    color: #767676;
    padding-right: 10px;
    padding-top: 6px;
    font-size: 24px;
    white-space: nowrap;
    @include mq(mobileLandscape) { font-size: 28px; }
    @include mq(tablet) { font-size: 32px; }
    @include mq(desktop) { font-size: 38px; }
    .idn-sumatra & {
        color: white;
        text-shadow: 0 0 50px rgba(0,0,0,0.9);
    }
}

.idn-section {
    clear: both;

    @include mq(desktop) {
        padding-left: 240px;
    }

    &:after {
        display: block;
        content: '';
        clear: both;
        height: 24px;
    }
    p {
        @include fs-bodyCopy(2);
        color: #333;
        max-width: 640px;
        overflow: visible;
    }
}

.idn-section--fullwidth {
    @include mq(desktop) {
        padding-left: 0px;
        .idn-section__heading {
            padding-left: 240px;
        }
    }
}
.idn-section__heading {
    padding-right: 10px;
    padding-bottom: 12px;

    h2 {
        @include fs-header(2);
        line-height: 24px;
        color: #767676;
        margin: 6px 0;
    }
    p {
        @include fs-bodyCopy(1);
        color: #333;
        margin: 0;
    }
}

.idn-co2e-graph__heading {
    @include fs-header(1);
    color: #767676;
    margin-top: 0;
    padding-top: 6px;
    @include mq(mobileLandscape) {
        display: none;
    }
    @include mq(desktop) {
        @include fs-header(2, true);
    }
    a, a:visited {
        color: #767676;
    }
}

.idn-map {
    position: absolute;
    top: 0;
    left: 0;
}

.idn-map__fires, .idn-map__burns {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.idn-map__fires {
    z-index: 2;
}
.idn-map__burns {
    z-index: 1;
}

.idn-cumulative-fires, .idn-active-fires {
    display: none;
}

svg {
    @include fs-textSans(2);
}

.idn-map__geo {
    width: 100%;
    position: absolute;
    top: 0;
}

.idn-axis path {
    fill: none;
}

.idn-axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

@keyframes test {
    to { stroke-dashoffset: 0; }
}

.idn-line {
  fill: none;
  stroke: #4982b9;
  stroke-width: 1.5px;
  // stroke-dasharray: 1200;
  // stroke-dashoffset: 1200;
  // animation: test 2s linear forwards;
}

.idn-preset__line {
    stroke: #eaeaea;
    stroke-dasharray: 2;
    transition: stroke 0.1s ease-out;
    &.idn-preset__line--on {
        stroke: #bdbdbd;
    }
    shape-rendering: crispEdges;
}

@keyframes pop {
    0% { font-size: inherit; }
    50% { font-size: 16px; }
    100% { font-size: inherit; }
}

.idn-preset__country {
    fill: #bdbdbd;
    text-anchor: end;
    stroke-width: 10px;
    stroke: #fff;
    paint-order: stroke;

    transition: fill 0.3s ease-out;
    &.idn-preset__country--on {
        fill: #767676;
    }
}

.idn-co-emissions {
    @include mq(desktop) {
        margin-left: -10px;
    }
}

.idn-co-emissions__inner {
    position: relative;
    width: 100%;
    padding-bottom: 50.55%;

    video,
    canvas,
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.idn-play-button--container {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;

    .idn-play-button {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        padding: 0;
        font-size: 9px;
        width: 52px;
        height: 52px;
        @include mq($until: mobileLandscape) {
            left: 10%;
        }
        @include mq(mobileLandscape) {
            font-size: 13px;
            width: 75px;
            height: 75px;
        }
        @include mq(desktop) {
            font-size: 16px;
            width: 92px;
            height: 92px;
        }
        &:before {
            content: '';
            background: rgba(0,0,0,0.5);
            content: '';
            display: block;
            border-radius: 1000px;
            width: 100%;
            height: 100%;
        }
        &:after {
            content: '';
            border-style: solid;
            border-color: transparent transparent transparent #fff;
            content: '';
            position: absolute;
            left: 2em;
            top: 2em;
            border-style: solid;
            border-width: 1em 0 1em 2.4em;
            border-radius: .2em;
        }
    }

    &[playing] .idn-play-button {
        display: none;
    }

}
.idn-play-button__restart {
    color: #767676;
    @include fs-textSans(4);
    position: relative;
    top: 6px;
    display: none;
    &:hover {
        text-decoration: underline;
    }
    .idn-play-button--container[firstplay] & {
        display: block;
    }

    .idn-sumatra & {
        color: #f1f1f1;
    }
}
.idn-haze__img1 {
    width: 100%;
}

.idn-haze__img2, .idn-haze__img3 {
    width: 50%;
}

.idn-content--loading {
    .idn-fires:after, .idn-sumatra-zoom__map:after {
        content: 'Loading...';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 32px;
        color: #767676;
        box-sizing: border-box;
    }
    .idn-fires:after { padding-top: 20%; }
    .idn-sumatra-zoom__map:after { padding-top: 60%; }
}

.idn-timelapse-frame {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.idn-timelapse-burn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.idn-fires {
    position: relative;
    max-width: 1260px;
    margin-bottom: 48px;
    overflow: hidden;
    @include mq($until: mobileLandscape) {
        margin-left: -20%;
        margin-right: -10%;
        .idn-map__heading {
            margin-right: 8%;
        }
    }
}

.idn-fires__inner {
    position: relative;
    width: 100%;
    padding-bottom: 47.6190476%;

    video,
    canvas,
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.idn-sumatra__zoombox {
    width: 7.5%;
    height: 14.5%;
    position: absolute;
    top: 68.5%;
    left: 39%;
    border: 2px solid #bdbdbd;
    opacity: 0.6;
    z-index: 2;
}


.idn-sumatra__zoombox__label {
    // width: 100%;
    position: absolute;
    top: 100%;
    margin-top: 4px;
    z-index: 2;
    @include fs-textSans(2);
    color: #767676;
    white-space: nowrap;
    left: -50px; right: -50px;
    text-align: center;
    width: auto;
    @include mq($until: tablet) {
        font-size: 10px;
        line-height: 14px;
    }
}

.idn-fires__copy {
    position: absolute;
    top: 0;
    left: 10px;
    background: rgba(255,255,255,0.5);
    width: 640px;
    z-index: 2;
}
.idn-fires__copy,
.idn-co-emissions__copy,
.idn-sumatra__copy {
    h2 {
        margin: 6px 0;
        font-size: 18px;
        line-height: 24px;
        color: #767676;
    }
    p {
        @include fs-bodyCopy(1);
        color: #333;
        margin: 6px 0;
    }
}

.idn-map__heading--co-emissions-date {
    padding-right: 10px;
    padding-top: 12px;
}

.idn-co-emissions__title {
    // position: absolute;
    left: 20px;
    top: 12px;
    z-index: 2;
    color: #767676;
    padding-top: 6px;
    line-height: 24px;
    @include fs-header(1);
    @include mq(mobileLandscape) {
        @include fs-header(2,true);
    }
    @include mq(tablet) {
        @include fs-header(3,true);
    }
    @include mq(desktop) {
        position: absolute;
        top: auto;
        left: auto;
        margin-left: 10px;
        text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white, 0 0 20px white
    }
}

.idn-sumatra__copy {
    background: rgba(255,255,255,0.5);
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right:  10px;
    box-sizing: border-box;
}

.idn-sumatra__text {
    overflow: hidden;
}

.idn-sumatra {
    @include mq(wide) {
        max-width: 800px;
    }
}

.idn-sumatra__map {
    position: relative;
    padding-bottom: 80.8%;;
    float: left;
    margin-right: 24px;
    width: 100%;

    video, canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.idn-co2e-graph {
    // width: calc(100% - 10px);
    height: 0;
    padding-bottom: 70%;
    @include mq(tablet) {
        padding-bottom: 50%;
    }
    position: relative;
    // margin-bottom: 48px;
    // float: left;

    @include mq(desktop) {
        // margin-left: -50px;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible;
        max-width: 100%;
    }
}

.idn-co2e-graph__copy {
    background: white;
    max-width: 420px;
    position: absolute;
    top: 18px;
    left: 90px;
    font-size: 16px;
    background: rgba(255,255,255,0.8);
    z-index: 3;
    h2 {
        font-size: 16px;
        margin: 6px 0;
    }
    p {
        @include fs-bodyCopy(1);
        margin-top: 12px;
    }
}

.idn-co2e-graph__credits,
.idn-fires__credits,
.idn-co-emissions__credits,
.idn-sumatra__credits {
    @include fs-textSans(1);
    color: #999;
    a, a:visited {
        color: #767676;
        &:hover {
            color: #333;
        }
    }
}

.idn-co2e-graph__credits {
    // z-index: 3;
    // position: absolute;
    // right: 20px;
    // bottom: -20px;
    // @include mq(desktop) {
    //     bottom: 36px;
    // }
    text-align: right;
    width: calc(100% - 10px);
    position: absolute;
    top: 100%;
    text-align: right;
    right: 10px;
}


.idn-fires__credits {
    z-index: 3;
    position: relative;
    top: -24px;
    right: 0;
    text-align: right;
}

.idn-sumatra__credits {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5px;
    background: rgba(255,255,255,0.5);
}

.idn-co-emissions__credits {
    z-index: 3;
    position: absolute;
    top: 100%;
    text-align: left;
    margin: auto;
    right: 0;
    background: rgba(255,255,255,0.7);
    padding-left: 5px;
    box-sizing: border-box;
}
.idn-y, .idn-x {
    text {
        fill: #999999;
    }
    .tick line {
        stroke: #999999;
    }
}

.idn-y {
    .tick text {
        stroke-width: 8px;
        stroke: #fff;
        paint-order: stroke;
        fill: #999999;
    }
}

.idn-label--linelabel {
    stroke-width: 4;
}

.idn-label {
    fill: #999999;
}

.idn-x.idn-label {
    fill: #4982b9;
    font-weight: 500;
    @include mq($until: mobileLandscape) {
        display: none;
    }
    stroke-width: 10;
    stroke: #fff;
    paint-order: stroke;
}

.idn-fires__city {
    width: 5px;
    height: 5px;
    background: #999;
    position: absolute;
    z-index: 3;
    @include fs-textSans(3);
    line-height: 6px;
    color: #999;
}

.idn-fires__city--palembang {
    left: 41%;
    top: 75%;
    line-height: 22px;
    text-indent: -72px;
}

.idn-fires__city--jambi {
    left: 36.25%;
    top: 63.5%;
    text-indent: -40px;
}

.idn-fires__city--banjarmasin {
    left: 80.3%;
    top: 78%;
    line-height: 22px;
    text-indent: -76px;
}

.idn-fires__city--pontianak {
    left: 59.3%;
    top: 50.3%;
    text-indent: -66px;
}

.idn-fires__city--kualalumpur {
    left: 28.6%;
    top: 23.7%;
    text-indent: 8px;
    white-space: nowrap;
}

.idn-fires__city--pekanbaru {
    left: 27.7%;
    top: 45.8%;
    text-indent: -70px;
    white-space: nowrap;
}

.idn-fires__regionlabel,
.idn-fires__city--singapore {
    @include fs-bodyHeading(1);
    @include mq(tablet) {
        @include fs-bodyHeading(3, true);
    }
}

.idn-fires__city--singapore {
    left: 37%;
    top: 38.2%;
    text-indent: 10px;
    width: 6px;
    height: 6px;
    line-height: 10px;
    color: #767676;
}


.idn-fires__regionlabel {
    color: #767676;
    position: absolute;
    z-index: 2;
}

.idn-fires__regionlabel--indonesia {
    left: calc(57% - 45px);
    top: 75%;
    width: 90px;
    text-align: center;
}

.idn-fires__regionlabel--malaysia {
    left: calc(30.5% - 40px);
    top: 11.5%;
    width: 80px;
    text-align: center;
}

.idn-fires__regionlabel--sumatra {
    left: calc(29.5% - 75px);
    top: 52.5%;
    width: 150px;
    text-align: center;
}

.idn-fires__regionlabel--kalimantan {
    left: calc(76.5% - 100px);
    top: 52.5%;
    width: 200px;
    text-align: center;
}


.idn-fires__regionlabel--kalimantan,
.idn-fires__regionlabel--sumatra {
    @include fs-textSans(4);
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 12px;
    font-style: italic;
    color: rgba(0,0,0,0.3);
}

.idn-sumatra__label {
    @include f-textSans;
    font-size: 14px;
    line-height:18px;
    @include mq(tablet) {
        font-size: 16px;
        line-height:20px;
    }
    font-weight: bold;
    position: absolute;
    z-index: 2;
}

.idn-sumatra__label--concession {
    color: rgba(221,225,94,0.8);
    top: 64%;
    left: 47%;
    width: 100px;
}

.idn-sumatra__label--sinar {
    color: rgba(221, 225, 94, 0.8);
    top: 39%;
    left: 64%;
    width: 80px;
}

.idn-sumatra__label--palembang {
    color: white;
    top: 44%;
    left: 20%;
    width: 150px;
    text-align: center;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

@include mq($until: tablet) {
    .idn-fires__regionlabel--kalimantan,
    .idn-fires__regionlabel--sumatra {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .idn-fires__city:not(.idn-fires__city--singapore) { display: none; }
}

.idn-haze-pictures {
    width: 100%;
}

.idn-haze-picture {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 3px;
    img {
        width: 100%;
    }
}

@include mq(mobileLandscape) {
    .idn-haze-picture--2 {
        width: calc(50% - 2px);
        float: left;
    }

    .idn-haze-picture--3 {
        width: calc(50% - 2px);
        margin-right: 4px;
        float: left;
    }
}

.idn-breakdown3 {
    width: 80%;
    padding-top: 3px;
    @include mq($until: mobileLandscape) {
        width: 200%;
    }
    > h3 {
        @include f-header;
        font-size: 14px;
        line-height: 18px;
        margin: 6px 0;
        color: #767676;
        @include mq(mobileLandscape) {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.idn-breakdown3__type {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    > li {
        @include fs-textSans(3);
        line-height: 40px;
        display: inline-block;
        margin-right: 5px;
        text-align: center;
        > div:first-child,
        > div:last-child {
            height: 40px;
            text-align: center;
            display: inline-block;
            color: white;
        }
        > div:nth-child(2) {
            line-height: 24px;
            color: #767676;
        }
        @include mq($until: mobileLandscape) {
            &:nth-child(n+4) {
                display: none;
            }
        }
    }
}

.idn-canvasvideo {
    display: none;

}
.idn-content--canvasvideo {

    .idn-canvasvideo {
        display: block;
    }

    .idn-video {
        display: none;
    }
}

.idn-section--breakdown {
    min-height: 280px;
}