@import 'font';
@import 'mq';

.content-container {
    max-width: 1300px;
    background: white;
    margin: auto;
    padding-top: 120px;
}

.content {
    max-width: 1260px;
    margin: auto;
    overflow: visible;
    &:after {
        display: block;
        content: '';
        clear: both;
        height: 24px;
    }
}

.map__country {
    fill: #efefef;
}

.map__palm {
    fill: #C1B213;
}

.map__fiber {
    fill: #4E4DBD;
}

.map__logging {
    fill: #B5442B;
}

.map__concessions {
    fill: #dcdcdc;
}

.map__heading {
    text-align: right;
    font-family: "Guardian Egyptian Web";
    font-size: 22px;
    position: absolute;
    right: 0;
    color: #767676;
    padding-right: 10px;
    padding-top: 6px;
}

.fires circle {
    fill: red;
    stroke: #333;
    stroke-width: 0.5px;
    display: none;
    // opacity: 0;
    &.decay {
		transition: opacity 0.5s ease-out;
		display: block;
		opacity: 0;
	}
	&.visible {
		// transition: opacity 0.1 ease-out;
		display: block;
		// opacity: 1;
	}
}

#map-container {
    position: relative;
    width: 100%;
    max-width: 1260px;
    height: 600px;
}


.section {
    margin-top: 48px;
    padding-left: 240px;
}

.section__heading {
    @include fs-bodyHeading(4);
    color: #333;
    margin-left: -240px;
    float: left;
}

.sumatra-zoom__map {
    position: relative;
    width: 320px;
    height: 400px;
    float: left;
    margin-right: 24px;
}

.sumatra-zoom__copy {
    @include fs-bodyCopy(2);
    color: #333;
}

.map {
}

.map__fires, .map__burns {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.map__fires {
    z-index: 2;
}
.map__burns {
    z-index: 1;
}

.cumulative-fires, .active-fires {
    display: none;
}

svg {
    @include fs-textSans(2);
}

.map__geo {
    width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

@keyframes test {
    to { stroke-dashoffset: 0; }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: test 2s linear forwards;
}

.preset {
    stroke: #bdbdbd;
    stroke-dasharray: 2;
}

.country {
    fill: #333;
}

.co-emissions {
    position: relative;
    max-width: 720px;
    video {
        width: 100%;
        height: auto;
        display: block;
    }
}
.co-emissions__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../src/img/emissions-mask.png);
    background-size: 100% 100%;
}
